<div id="insta-feed"></div>

{% schema %}
{
    "name": "Instafeed",
    "settings": [],
    "presets": [
        {
            "name": "Instafeed",
            "category":"Instagram"
        }
    ]
}
{% endschema %}

