<div class="shopify-section wrapper judgeme_widget">
    {% if section.settings.title != blank %}
    <div class="sitewide--title-wrapper">
      {% if section.settings.show_icon %}
        <svg class="icon_title" xmlns="http://www.w3.org/2000/svg" width="61.65" height="26.907" viewBox="0 0 61.65 26.907">
          <g id="Grupo_4370" data-name="Grupo 4370" transform="translate(-2123.893 -210.868)">
            <path id="Trazado_1779" data-name="Trazado 1779" d="M2185.085,226.839l-15.3,6.169a1.125,1.125,0,0,1,.054-.12q.943-1.394,1.886-2.788,1.746-2.577,3.494-5.153t3.515-5.167c.08-.118.112-.19-.029-.3a3.352,3.352,0,0,1-.4-.436l-2.185,1.765c-.327.264-.651.53-.978.793-.643.516-1.29,1.027-1.931,1.544-.5.4-.99.812-1.489,1.214-.671.541-1.347,1.076-2.019,1.617-.481.388-.958.783-1.439,1.171q-1.05.847-2.1,1.689c-.22.176-.442.348-.664.522.4-1.479.834-2.924,1.268-4.369q.839-2.793,1.679-5.586.738-2.451,1.481-4.9c.175-.577.178-.576-.371-.816-.014-.006-.03-.008-.043-.015-.116-.064-.195-.029-.263.08q-.257.406-.526.805-1.407,2.1-2.815,4.2-1.12,1.674-2.236,3.352-.909,1.36-1.822,2.719l-1.062,1.585-.553-.277c0-.241,0-.477,0-.712q-.013-1.324-.028-2.648c-.007-.646-.016-1.292-.021-1.938-.007-.883-.009-1.767-.018-2.65-.006-.638-.025-1.277-.03-1.915-.006-.753,0-1.507,0-2.26,0-.274,0-.549,0-.823q-.01-.889-.026-1.779c0-.125-.02-.249-.031-.376l-1.31-.169-3.75,14.837a3.217,3.217,0,0,0-.388-.043c-.171,0-.241-.09-.291-.237q-1.115-3.29-2.235-6.579-.737-2.166-1.478-4.331c-.354-1.038-.705-2.077-1.064-3.114-.021-.062-.105-.157-.146-.15-.275.044-.546.112-.8.168,0,.517,0,1,0,1.489,0,.373.013.745.022,1.118.017.653.036,1.306.052,1.959.01.41.012.82.024,1.23.018.637.045,1.274.063,1.911.012.41.014.821.024,1.231.016.661.035,1.321.051,1.982.009.395.01.79.021,1.184.013.493.031.986.048,1.479.016.425.039.849.05,1.274.008.3,0,.6,0,.894l-.05.009-9.664-13.109c-.178.1-.334.193-.5.275-.138.069-.151.148-.1.295.329.917.644,1.839.965,2.758.372,1.066.742,2.133,1.118,3.2.591,1.674,1.189,3.346,1.78,5.021.363,1.029.718,2.06,1.075,3.091.118.34.236.68.374,1.079-1.046-.769-2.037-1.5-3.026-2.226q-2.018-1.49-4.033-2.985-2.273-1.683-4.544-3.367c-.515-.382-1.025-.771-1.543-1.149-.062-.046-.2-.09-.23-.062a3.657,3.657,0,0,0-.376.489c-.021.032.008.118.039.161.137.193.283.378.425.567q.724.97,1.446,1.941c.414.556.826,1.114,1.241,1.67.479.641.962,1.278,1.438,1.92s.938,1.277,1.409,1.913.966,1.293,1.448,1.94q.827,1.108,1.652,2.217c.172.232.34.467.509.7a1.171,1.171,0,0,1-.379-.082c-.787-.287-1.573-.578-2.361-.861-1.348-.484-2.7-.962-4.045-1.447-1.062-.383-2.121-.775-3.183-1.158q-2.439-.881-4.881-1.754c-.235-.084-.519-.273-.7-.2s-.263.4-.387.62c-.007.012,0,.03-.006.064.057.044.121.1.188.146.808.575,1.62,1.145,2.425,1.725,1.666,1.2,3.335,2.4,4.991,3.613,1.533,1.126,3.049,2.273,4.571,3.413a1.063,1.063,0,0,1,.153.18h2.943a12.594,12.594,0,0,1,1.167-2.6,12.4,12.4,0,0,1,1.909-2.5c.537-.533,1.073-1.07,1.649-1.557a15.773,15.773,0,0,1,4.619-2.746,14.51,14.51,0,0,1,3.886-.855,14.258,14.258,0,0,1,1.619-.039q1.605.043,3.21.131a18.083,18.083,0,0,1,3.618.588,14.517,14.517,0,0,1,3.645,1.5,12.966,12.966,0,0,1,2.521,1.889c.629.612,1.258,1.232,1.823,1.9a13.613,13.613,0,0,1,2.046,3.265c.151.341.288.688.432,1.033h1.241c.371-.3.738-.614,1.114-.912q5.02-3.97,10.042-7.936l1.837-1.451Z" transform="translate(0 0)" fill="{{ section.settings.color_title }}"/>
            <path id="Trazado_1780" data-name="Trazado 1780" d="M2524.693,609.573a13.762,13.762,0,0,0-3.5-1.683,24.069,24.069,0,0,0-2.352-.622,12.812,12.812,0,0,0-3.227-.273c-.908.052-1.82.1-2.718.235a13.269,13.269,0,0,0-3.577,1.077,12.347,12.347,0,0,0-2.715,1.64c-.438.357-.88.709-1.3,1.088a13.72,13.72,0,0,0-2.2,2.563,11.267,11.267,0,0,0-1.11,2.073h27.866a15.476,15.476,0,0,0-1.861-3.032A13.971,13.971,0,0,0,2524.693,609.573Z" transform="translate(-360.72 -377.896)" fill="{{ section.settings.color_title }}"/>
          </g>
        </svg>
      {% endif %}
      <h2 class="homepage-sections--title title-section"
      style="color: {{ section.settings.color_title }}">{{ section.settings.title | escape }}</h2>
    </div>
{% endif %}

    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>


{% schema %}
{
    "name": "Judge me reviews",
    "class": "image-with-text-wrapper",
    "settings": [
    {
        "type": "checkbox",
        "id": "show_review_widget",
        "label": "Show review widget",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "show_icon",
        "label": "Show icon",
        "default": true
      },
      {
          "type": "text",
          "id": "title",
          "label": {
              "en": "Heading",
              "de": "Überschrift",
              "es": "Encabezado",
              "fr": "Rubrique",
              "pt-PT": "Título"
          }
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Color title",
        "default": "#e2c265"
      }
    ]
}
{% endschema %}
